body{
  background-color:#eee;
}
.brand-logo img{
  width: 100%;
}
nav{
  background-color:#fff;
}
ul.side-nav.fixed li.logo:hover, ul.side-nav.fixed li.logo #logo-container:hover {
    background-color: transparent;
}
html{
 color: rgba(60, 60, 60, 0.87);
}
.side-nav .logo a{
  height:100%;
}

#nav-mobile li.search .search-wrapper {
  margin: 0 12px;
  transition: margin .25s ease;

}
#nav-mobile li.search .search-wrapper input#search {
    display: block;
    font-size: 16px;
    font-weight: 300;
    width: 100%;
    height: 45px;
    margin: 0;
    padding: 0 45px 0 15px;
    border: 0;
}
#nav-mobile li.search .search-wrapper i.material-icons {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.side-nav.fixed a.btn{
  color:white;
  height: 36px;
  line-height: 36px;
}
.row  .col.results-card-right-side{
 padding-left: 5px;
}
.row  .col .results-card-count{
  font-size: 285%;
  background-color: green;
  width: 100px;
  height: 100px;
  padding-top: 27%;
  /* background: #ef8913; */
  border-radius: 50%;
  text-align: center;
  color: white;
  margin-top: 39%;
  
}
.grey-box{
  /*
  background-color: #f3f3f3;
  */
  min-height: 139px;
  font-size: 30px;
  text-align: center;
  vertical-align: middle;
  line-height: 139px;
  border-radius: 50%;
}

h3{
  padding: 0px;
  margin: 0px;
}
.results-location{
  margin: 0px;
  padding: 0px;
  color: #b1b1b1;
}
.results-container{
  margin-top: 11px;
}
a.results-link{
  color: #424242;
}
a.results-link:hover,a.results-link .card-panel:hover{
box-shadow: 0 2px 5px 0 rgb(36, 192, 239),0 2px 10px 0 rgb(76, 247, 226);
}
.results-container .row{
  margin-bottom:0px;
}
.panel-primary {
    border-color: #337ab7;
}
 .panel {
     margin-bottom: 20px;
     background-color: #fff;
     border: 1px solid transparent;
     border-radius: 4px;
     -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
     box-shadow: 0 1px 1px rgba(0,0,0,.05);
 }
 .panel-primary>.panel-heading {
     color: #fff;
     background-color: #337ab7;
     border-color: #337ab7;
 }
 .panel-heading {
     padding: 10px 15px;
     border-bottom: 1px solid transparent;
     border-top-left-radius: 3px;
     border-top-right-radius: 3px;
 }
 .panel-title {
     margin-top: 0;
     margin-bottom: 0;
     font-size: 16px;
     color: inherit;
 }
 .panel-body {
     padding: 15px;
 }
 .panel-success {
     border-color: #d6e9c6;
 }
 .panel-info {
     border-color: #bce8f1;
 }
 .panel-danger {
     border-color: #ebccd1;
 }
 .panel-warning {
     border-color: #faebcc;
 }
 .panel-warning>.panel-heading {
     color: #8a6d3b;
     background-color: #fcf8e3;
     border-color: #faebcc;
 }
 .panel-info>.panel-heading {
     color: #31708f;
     background-color: #d9edf7;
     border-color: #bce8f1;
 }
 .panel-success>.panel-heading {
     color: #3c763d;
     background-color: #dff0d8;
     border-color: #d6e9c6;
 }
 .panel-danger>.panel-heading {
     color: #a94442;
     background-color: #f2dede;
     border-color: #ebccd1;
 }
 .modal-location{
   color: lightGrey;
   margin: 0px;
   padding: 0px;
 }
 .modal-title{
   margin:0px;
 }
 .results-link .card-panel .row{
  margin-bottom:0px;
 }
 .card-header{
  font-size: 26px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #dedede;
 }

 .modal-info .chip i.material-icons {
   cursor: pointer;
   float: left;
   font-size: 16px;
   line-height: 32px;
   padding-left: 8px;
   margin-right: 10px;
 }
 .modal-info .chip.success{
  background-color: #baffbf;
 }
 .modal-info .chip.warning{
  background-color: #ffbcbc;
 }
 #stats .card-panel{
  border-left: 5px solid #0089ec;
 }
 #stats .stat-text{
  font-size: 22px;
  color: #676767;
 }

 #profile-basic-info .row{
   margin-bottom: 0px;
 }
 .dataset-info{
  text-align: center;
  color: #969696;
 }
 .helper-text{
  color:lightGrey;
  font-size:12px;
 }
  header, main, footer {
      padding-left: 240px;
  }
  @media only screen and (min-width: 993px){
  .container {
      width: 85%;
  }
 }
 @media only screen and (max-width: 992px){
 header, main, footer {
     padding-left: 0;
 }
 }
 
 