<section class="home bg-img-1 " id="home">
        <div class="bg-overlay "></div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <div class="home-wrapper">
                        <h1 class="text-uppercase" style="text-align: center">How diverse is your school?</h1>
                        <p class="hide">Find out today by using our <strong>Free</strong> tool</p>
                        <nav  style="    width: 50%;
    margin: auto;text-align: center">
                          <div class="nav-wrapper">
                            <form>
                              <div class="input-field">
                                <input id="autocomplete_" type="search" name="q" required placeholder="Enter school,zip or city to search for schools" style="height:64px;" ng-model="zipcode">
                                <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                                <i class="material-icons">close</i>
                              </div>
                            </form>
                          </div>
                        </nav>
                        <br/>
                        <center>
                        <a class="waves-effect waves-light btn" ng-click="buttonSearch()"><i class="material-icons right">search</i>Search</a>
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <style>

    </style>
    <section class="home  help-box help-green" id="why-important" >
    <h2 style="text-align: center;    margin-top: 0px;    font-size: 26px;"> Why is diversity in schools important?</h2>
    <div class="row">
                <div class="col l4 s12">
                  <div class="center promo promo-example">
                    <i class="material-icons">flash_on</i>
                    <p class="promo-caption">Speeds up development</p>
                    <p class="light center">There is increasing evidence that “diversity makes us smarter,</p>
                  </div>
                </div>
                <div class="col l4 s12">
                  <div class="center promo promo-example">
                    <i class="material-icons">group</i>
                    <p class="promo-caption">Better social skills</p>
                    <p class="light center">Students can learn better how to navigate adulthood in an increasingly diverse society</p>
                  </div>
                </div>
                <div class="col l4 s12">
                  <div class="center promo promo-example">
                    <i class="material-icons">business</i>
                    <p class="promo-caption">Helps in work environments</p>
                    <p class="light center"> Ninety-six percent of major employers, Wells, Fox, and Cordova-Cobo note, say it is “important” that employees be “comfortable working with colleagues, customers, and/or clients from diverse cultural backgrounds.”</p>
                  </div>
                </div>
              </div>
<p style="float:right">* data from <a href="https://tcf.org/content/report/how-racially-diverse-schools-and-classrooms-can-benefit-all-students/">TCF.org</a></p>
  </section>
  <br/>

    <section class="home  help-box help-blue hide" id="why-important">
    <h2 style="text-align: center;    margin-top: 0px;    font-size: 26px;"> What the data tells us?</h2>
    <div class="row">
                <div class="col l4 s12">
                  <div class="center promo promo-example">
                    <i class="material-icons">flash_on</i>
                    <p class="promo-caption">95% of schools aren't diverse</p>
                    <p class="light center">There is increasing evidence that “diversity makes us smarter,</p>
                  </div>
                </div>
                <div class="col l4 s12">
                  <div class="center promo promo-example">
                    <i class="material-icons">group</i>
                    <p class="promo-caption">Minority students are less likely to be in gifted programs</p>
                    <p class="light center">Students can learn better how to navigate adulthood in an increasingly diverse society</p>
                  </div>
                </div>
                <div class="col l4 s12">
                  <div class="center promo promo-example">
                    <i class="material-icons">business</i>
                    <p class="promo-caption">We have a long way to go</p>
                    <p class="light center"> Did you know 80% of schools have less than 10% minorities in their school</p>
                  </div>
                </div>
              </div>
<p style="float:right;display:none">* data from <a href="https://tcf.org/content/report/how-racially-diverse-schools-and-classrooms-can-benefit-all-students/">TCF.org</a></p>
  </section>

    <section class="home  help-box sky-blue hide" id="why-important">
    <h2 style="text-align: center;    margin-top: 0px;    font-size: 26px;">How to help?</h2>
    <div class="row">
                <div class="col l4 s12">
                  <div class="center promo promo-example">
                    <i class="material-icons">flash_on</i>
                    <p class="promo-caption">Help promote student diversity</p>
                    <p class="light center">There is increasing evidence that “diversity makes us smarter,</p>
                  </div>
                </div>
                <div class="col l4 s12">
                  <div class="center promo promo-example">
                    <i class="material-icons">group</i>
                    <p class="promo-caption">Promote minority students into more gifted programs </p>
                    <p class="light center">Students can learn better how to navigate adulthood in an increasingly diverse society</p>
                  </div>
                </div>
                <div class="col l4 s12">
                  <div class="center promo promo-example">
                    <i class="material-icons">business</i>
                    <p class="promo-caption">We have a long way to go</p>
                    <p class="light center"> Did you know 80% of schools have less than 10% minorities in their school</p>
                  </div>
                </div>
              </div>
<p style="float:right;display:none">* data from <a href="https://tcf.org/content/report/how-racially-diverse-schools-and-classrooms-can-benefit-all-students/">TCF.org</a></p>
  </section>
