<section class="home bg-img-1" id="home">
        <div class="bg-overlay "></div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 text-center">
                    <div class="home-wrapper">
                        <h1 class="text-uppercase">How diverse is your school?</h1>
                        <p class="hide">Find out today by using our <strong>Free</strong> tool</p>
                        <nav >
                          <div class="nav-wrapper">
                            <form>
                              <div class="input-field">
                                <input id="search" type="search" required placeholder="Enter school,zip or city to search for schools" style="height:64px;" ng-model="zipcode">
                                <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                                <i class="material-icons">close</i>
                              </div>
                            </form>
                          </div>
                        </nav>
                        <br/>
                        <center>
                        <a class="waves-effect waves-light btn" ng-click="buttonSearch()"><i class="material-icons right">search</i>Search</a>
                        </center>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <style>
    #why-important  .material-icons {
 
    font-size: 50px;

    }
    .promo-caption{
    	font-size: 18px;
    	font-weight: bold;
    }
    </style>
    <section class="home bg-img-1" id="why-important" style="background:white;padding:40px;margin-left: 20px;
    margin-right: 20px;">
    <h2 style="text-align: center;    margin-top: 0px;    font-size: 26px;"> Why is diversity important?</h2>
    <div class="row">
                <div class="col s4">
                  <div class="center promo promo-example">
                    <i class="material-icons">flash_on</i>
                    <p class="promo-caption">Speeds up development</p>
                    <p class="light center">There is increasing evidence that “diversity makes us smarter,</p>
                  </div>
                </div>
                <div class="col s4">
                  <div class="center promo promo-example">
                    <i class="material-icons">group</i>
                    <p class="promo-caption">Better social skills</p>
                    <p class="light center">Students can learn better how to navigate adulthood in an increasingly diverse society</p>
                  </div>
                </div>
                <div class="col s4">
                  <div class="center promo promo-example">
                    <i class="material-icons">business</i>
                    <p class="promo-caption">Helps in work environments</p>
                    <p class="light center"> Ninety-six percent of major employers, Wells, Fox, and Cordova-Cobo note, say it is “important” that employees be “comfortable working with colleagues, customers, and/or clients from diverse cultural backgrounds.”</p>
                  </div>
                </div>
              </div>
<p style="float:right">* data from <a href="https://tcf.org/content/report/how-racially-diverse-schools-and-classrooms-can-benefit-all-students/">TCF.org</a></p>
  </section>